
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
}
.login-box h2 {
    margin-top: 0;
}
.login-logo {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('img/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

input[type=email]{
    color: red;
    padding: 50px;
}
/* input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #45a049;
}
h2{
    color: blue; 
}
.login-box a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin-top: 10px;
}

body {
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
}
.login-box h2 {
    margin-top: 0;
}
.login-logo {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url('img/logo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h2{
    color: blue; 
}
.login-box a {
    color: #4CAF50;
    text-decoration: none;
    font-size: 14px;
    display: block;
    margin-top: 10px;
}